extends ../../layouts/creative

block head
  title Drywall is Running

block neck

block body
  section#about.bg-primary
    .container
      .row
        .col-lg-8.col-lg-offset-2.text-center
          h2.section-heading #{subject}
          hr.light

  section
    .container
      .row
        .col-lg-8.col-md-8.com-lg-offset-2.col-md-offset-2
          !{html}
